
.product-grid{
    --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x)/ -2);
      margin-left: calc(var(--bs-gutter-x)/ -2);
  }
  
  .mb-30 {
    margin-bottom: 30px !important;
  }
  
  .product-cart-wrap {
    position: relative;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 15px;
    overflow: hidden;
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
  }
  
  .product-cart-wrap:hover {
    -webkit-box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
    box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
    border: 1px solid #BCE3C9;
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
  }
  
  .product-rate-cover{
    display: flex;
  }
  
  .product-cart-wrap .product-img-action-wrap .product-img a {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .product-cart-wrap .product-img-action-wrap .product-img {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    height: 100%;
  }
  
  .product-cart-wrap .product-img-action-wrap {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    height: 250px;
    padding: 25px 25px 0 25px;
  }
  
  img-action-wrap .product-img-zoom a img {
    -webkit-transition: all 1.5s cubic-bezier(0, 0, 0.05, 1);
    transition: all 1.5s cubic-bezier(0, 0, 0.05, 1);
  }
  
  .product-cart-wrap .product-img-action-wrap .product-img a img {
    width: 100%;
  }
  
  .product-cart-wrap .product-img-action-wrap .product-img a img.hover-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s opacity, 0.25s visibility, transform 1.5s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 1.5s cubic-bezier(0, 0, 0.2, 1);
  }
  
  .product-cart-wrap:hover .product-img-action-wrap .product-img a img.hover-img {
    opacity: 1;
    visibility: visible;
  }
  
  .product-cart-wrap .product-img-action-wrap .product-action-1 {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #BCE3C9;
  }
  .product-cart-wrap .product-action-1 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    z-index: 9;
    -webkit-box-shadow: 20px 20px 40px rgb(0 0 0 / 7%);
    box-shadow: 20px 20px 40px rgb(0 0 0 / 7%);
  }
  
  .product-cart-wrap .product-action-1 button, .product-cart-wrap .product-action-1 a.action-btn {
    width: 40px;
    height: 36px;
    line-height: 40px;
    text-align: center;
    position: relative;
    display: inline-block;
    border-right: 1px solid #BCE3C9;
  }
  
  .product-cart-wrap .product-content-wrap {
    padding: 0 20px 20px 20px;
  }
  
  .product-cart-wrap .product-content-wrap .product-category {
    margin-bottom: 5px;
  }
  
  .product-cart-wrap .product-content-wrap .product-category a {
    color: #adadad;
    font-size: 12px;
  }
  
  .product-cart-wrap .product-content-wrap h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .product-cart-wrap .product-content-wrap h2 a {
    color: #253D4E;
  }
  
  .product-cart-wrap .product-card-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .product-cart-wrap .product-content-wrap .product-price span {
    font-size: 18px;
    font-weight: bold;
    color: #3BB77E;
  }
  
  .product-cart-wrap .product-content-wrap .product-price span.old-price {
    font-size: 14px;
    color: #adadad;
    margin: 0 0 0 7px;
    text-decoration: line-through;
  }
  
  .add-cart {
    cursor: pointer;
  }
  
  .add-cart .add {
    position: relative;
    display: inline-block;
    padding: 6px 20px 6px 20px;
    border-radius: 4px;
    background-color: #DEF9EC;
    font-size: 14px;
    font-weight: 700;
  }
  
  .add-cart .add:hover {
    background-color: #3BB77E;
    color: #fff;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
    box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
  }
  
  .product-cart-wrap .product-badges.product-badges-position {
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 9;
  }
  
  .product-cart-wrap .product-badges.product-badges-mrg {
    margin: 0 0 10px;
  }
  .product-cart-wrap .product-badges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .product-cart-wrap .product-badges span.new {
    background-color: #3BB77E;
  }
  .product-cart-wrap .product-badges span:last-child {
    margin-right: 0px;
  }
  .product-cart-wrap .product-badges span {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    border-radius: 15px 0 20px 0;
    color: #fff;
    padding: 9px 20px 10px 20px;
  }
  
  .shop-product-fillter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 30px;
  }
  
  .shop-product-fillter .sort-by-product-area {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .shop-product-fillter .sort-by-product-area .sort-by-cover {
    position: relative;
  }
  
  .shop-product-fillter .sort-by-product-area .sort-by-product-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border: 1px solid #f7f8f9;
    color: #777;
    padding: 9px 16px;
    border-radius: 10px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer;
    border: 1px solid #ececec;
  }
  
  .shop-product-fillter .sort-by-product-area .sort-by-product-wrap .sort-by {
    margin-right: 5px;
  }
  
  .sort-by-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    right: 0;
    padding: 16px 0 21px;
    background: #fff;
    border: 0;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    min-width: 100%;
    -webkit-box-shadow: 0 -3px 23px rgb(0 0 0 / 6%);
    box-shadow: 0 -3px 23px rgb(0 0 0 / 6%);
    color: #7E7E7E;
    font-weight: 500;
  }
  
  .sort-by-dropdown ul li {
    display: block;
  }

  .star-content i {
    color: #fdd835;
    font-size: 18px;
    display: inline-block;
    position: relative;
    line-height: 1;
  }

.mb-20 {
    margin-bottom: 20px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.product-grid #product-custom-pagination li:first-child {
    margin-left: 0;
}

.product-grid #product-custom-pagination li {
    margin: 0 5px;
}

.product-grid #product-custom-pagination li:not(:first-child) a {
    margin-left: -1px;
}

.product-grid #product-custom-pagination li a, .product-grid #product-custom-pagination li span {
    border: 0;
    padding: 0 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 40px;
    color: #7E7E7E;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    background-color: #F2F3F4;
}

.product-grid #product-custom-pagination li.active a, .product-grid #product-custom-pagination li:hover a {
    color: #fff;
    background: #3BB77E;
}

.product-grid #product-custom-pagination li.disabled{
  cursor: not-allowed;
}


.detail-gallery {
    position: relative;
}

.detail-gallery .product-image-slider {
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 1px solid #ececec;
    overflow: hidden;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}


.stock-status.out-stock {
    color: #f74b81;
    background: #fde0e9;
}
.stock-status {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
}

.product-single-info h2 {
    font-size: 30px;
}


.product-detail-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.text-end {
    text-align: right!important;
}

.product-rate {
    background-image: url(../imgs/theme/rating-stars.png);
    background-position: 0 -12px;
    background-repeat: repeat-x;
    height: 12px;
    width: 60px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.product-rating {
    height: 12px;
    background-repeat: repeat-x;
    background-image: url(../imgs/theme/rating-stars.png);
    background-position: 0 0;
}

.product-single-info .product-price-cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product-single-info .product-price-cover .product-price {
    line-height: 1;
}

.product-single-info .product-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 0 30px 0;
}
.product-price {
    font-family: "Quicksand", sans-serif;
}

.product-single-info .product-price .current-price {
    font-size: 58px;
    text-decoration: none;
    font-weight: 900;
}

.text-brand {
    color: #3BB77E !important;
    font-size: 18px;
}

p:last-child {
    margin-bottom: 0;
}
.font-lg {
    font-size: 17px;
}

.attr-color, .attr-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.detail-extralink .detail-qty {
    margin: 0 6px 15px 0;
    background: #fff;
    border: 2px solid #3BB77E !important;
    font-size: 16px;
    font-weight: 700;
    color: #3BB77E;
    border-radius: 5px;
    padding: 11px 20px 11px 30px;
    max-width: 90px;
}
.detail-extralink > div {
    display: inline-block;
    vertical-align: top;
}
.detail-qty {
    max-width: 80px;
    padding: 9px 20px;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.detail-extralink > div {
    display: inline-block;
    vertical-align: top;
}

.product-extra-link2 .button.button-add-to-cart {
    position: relative;
    padding: 0px 20px;
    border-radius: 5px;
    border: 0;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
}

.product-extra-link2 a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f1f1f1;
    color: #333;
    border-radius: 5px;
    display: inline-block;
    height: 50px;
    line-height: 55px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 50px;
    margin: 0 5px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.sort-by-dropdown.show {
    opacity: 1;
    visibility: visible;
}

.sort-by-dropdown ul li a {
    font-weight: 500;
    font-size: 13px;
    padding: 5px 30px;
    display: block;
    position: relative;
    color: #7E7E7E;
}

.sort-by-dropdown ul li a.active::before {
    content: "\f143";
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 12px;
    color: #3BB77E;
    font-family: 'uicons-regular-straight' !important;
    font-weight: 900;
}

.sort-by-dropdown ul li a:hover {
    background-color: #3BB77E;
    color: #ffffff;
}

.product-cart-wrap:hover .product-img-action-wrap .product-action-1 {
    opacity: 1;
    visibility: visible;
}

.product-cart-wrap .product-action-1 button i, .product-cart-wrap .product-action-1 a.action-btn i {
    font-size: 15px;
    margin-left: 1px;
    cursor: pointer;
}

.product-cart-wrap .product-action-1 button:hover, .product-cart-wrap .product-action-1 a.btn-quick-view:hover {
    color: #FDC040;
}


.product-cart-wrap .product-action-1 button:before, .product-cart-wrap .product-action-1 a.action-btn:before {
    content: '';
    position: absolute;
    left: calc(50% - 7px);
    bottom: 100%;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    border: 7px solid transparent;
    border-top-color: #3BB77E;
    z-index: 9;
    margin-bottom: -13px;
    transition-delay: .1s;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    opacity: 0;
    visibility: hidden;
}


.product-cart-wrap .product-action-1 button:hover:before, .product-cart-wrap .product-action-1 a.action-btn:hover:before {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.product-cart-wrap .product-action-1 button:after, .product-cart-wrap .product-action-1 a.action-btn:after {
    bottom: 100%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    border-radius: 5px;
    font-size: 11px;
    padding: 7px 10px;
    color: #ffffff;
    background-color: #3BB77E;
    content: attr(aria-label);
    line-height: 1.3;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    -webkit-box-shadow: 4px 4px 8px rgb(0 0 0 / 10%);
    box-shadow: 4px 4px 8px rgb(0 0 0 / 10%);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0px);
    transform: translateX(-50%) translateY(0px);
}

.product-cart-wrap .product-action-1 button:hover:after, .product-cart-wrap .product-action-1 a.action-btn:hover:after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-8px);
    transform: translateX(-50%) translateY(-8px);
}

.product-info {
    border: 1px solid #ececec;
    border-radius: 15px;
    padding: 40px 50px;
}

.tab-style3 .nav-tabs .nav-item a.active, .tab-style3 .nav-tabs .nav-item a:hover {
    color: #3BB77E;
    -webkit-box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
    box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
}
.tab-style3 .nav-tabs li.nav-item a {
    display: block;
    padding: 13px 24px !important;
    text-align: center;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    text-transform: none;
    font-size: 17px;
    border-radius: 30px;
    border: 1px solid #ececec;
    background: #fff;
    color: #7E7E7E;
}
.nav-tabs {
    border: 0;
    margin-bottom: 4px;
}
.nav-tabs .nav-link:first-child {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.nav-tabs .nav-link.active {
    color: #3BB77E;
    background-color: #fde1bd;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.tab-style3 p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
    color: #7E7E7E;
}

.tab-content.shop_info_tab {
    margin-top: 40px;
}

.tab-pane .comments-area {
    padding-top: 0;
    border: 0;
}
.comments-area {
    background: transparent;
    border-top: 1px solid #ececec;
    padding: 45px 0;
    margin-top: 50px;
}

.comments-area h4 {
    margin-bottom: 35px;
    color: #2a2a2a;
    font-size: 18px;
}

.comments-area .comment-list:last-child {
    padding-bottom: 0px;
}

.comments-area .comment-list {
    padding-bottom: 48px;
}

.comments-area .comment-list .single-comment:not(:last-child) {
    border-bottom: 1px solid #ececec;
}
.comments-area .comment-list .single-comment {
    margin: 0 0 15px 0;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    padding: 20px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.justify-content-between {
    justify-content: space-between!important;
}
.d-flex {
    display: flex!important;
}

.comments-area .thumb {
    margin-right: 20px;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.progress span {
    line-height: 16px;
    background: #fff;
    padding-right: 10px;
    width: 45px;
}


.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #0d6efd;
    transition: width .6s ease;
}

.progress-bar {
    background-color: #3BB77E;
}

.progress + .progress {
    margin-top: 1rem;
}

.title.style-3 {
  background-image: url(../imgs/theme/wave.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 25px;
}

.featured-card {
  padding: 50px 30px;
  border-radius: 15px;
  border: 1px solid #ececec;
  background: #fff;
}

.featured-card img {
  margin-bottom: 30px;
  width: 100px;
}

.featured-card h4 {
  margin-bottom: 30px;
}

.featured-card a {
  font-size: 16px;
}

.featured-card p {
    font-size: 17px;
    margin-bottom: 30px;
}

.product-cart-wrap .product-content-wrap h2 a:hover, .mega-menu-item > ul > li > a:hover {
  color: #3BB77E !important;
}

.product-detail .swiper-wrapper .swiper-slide img {
  opacity: 1;
  border-radius: 16px;
  cursor: pointer;
}

.product-detail .swiper-wrapper .swiper-slide{
  display: flex;
  justify-content: center;
}

.product-detail .product-thumb{
  border: 1px solid #ececec;
  border-radius: 15px;
  padding: 10px;
}

.product-single-item .product-single-info .title {
  font-weight: 700 !important;
}

.product-single-info .product-price-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-single-info .product-price-cover .product-price {
  line-height: 1;
}

.roduct-single-info .product-price .save-price {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  color: #FDC040;
}

.product-single-info .product-price .old-price {
  text-decoration: line-through;
  color: #B6B6B6;
  margin-left: 20px;
  font-size: 28px;
  font-weight: 700;
  display: block;
}

.swiper-container-thumbs .swiper-slide-thumb-active img{
  border: 2px #3BB77E solid;
}


.detail-extralink .detail-qty {
  margin: 0 6px 15px 0;
  background: #fff;
  border: 2px solid #3BB77E !important;
  font-size: 16px;
  font-weight: 700;
  color: #3BB77E;
  border-radius: 5px;
  padding: 11px 20px 11px 30px;
  max-width: 90px;
}
.detail-extralink > div {
  display: inline-block;
  vertical-align: top;
}
.detail-qty {
  max-width: 80px;
  padding: 9px 20px;
  position: relative;
  width: 100%;
  border-radius: 5px;
}

.comment-form textarea {
  min-height: 200px;
  padding-top: 15px;
}

.form-control {
  border: 1px solid #f0e9ff;
  border-radius: 10px;
  height: 48px;
  padding-left: 18px;
  font-size: 16px;
  background: transparent;
}

textarea.form-control{
  height: auto;
}

#togglePassword{
  float: right;
  margin-top: -30px;
  margin-right: 15px;
}

.comment-form .form-group {
  margin-bottom: 20px;
}

.comment-form button[type='submit'] {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 40px;
  color: #ffffff;
  border: none;
  background-color: #3BB77E;
  border: 1px solid #29A56C;
  border-radius: 10px;
}

.checkout-cart-area .table tr {
  border: 1px solid #e9ecef;
}

.checkout-cart-area .custome-checkbox .form-check-label {
  position: relative;
  cursor: pointer;
  color: #687188;
  padding: 0;
  vertical-align: middle;
}

.checkout-cart-area .shopping-summery table thead th {
  background-color: #ececec;
  padding: 18px 0;
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #253D4E;
}

.shopping-summery table tbody tr img {
  max-width: 120px;
  border: 1px solid #ececec;
  border-radius: 15px;
}

.text-heading {
  color: #253D4E;
}

.text-body {
  color: #7E7E7E !important;
}

.shopping-summery table td, .shopping-summery table th, .shopping-summery table thead {
  border: 0;
}

.shopping-summery table > :not(caption) > * > * {
  padding: 15px 0;
}
.table > :not(caption) > * > * {
  background-color: #00000000;
  border-bottom-width: 0;
}

table td, table th {
  padding: 10px 20px;
  border: 1px solid #ececec;
  vertical-align: middle;
}

.border {
  border: 1px solid #ececec !important;
}
.border-radius-15 {
  border-radius: 15px;
}

.p-40 {
  padding: 40px !important;
}


.form-group input, input {
  background: #fff;
  border: 1px solid #ececec;
  height: 45px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 20px;
  font-size: 16px;
  width: 100%;
}

.btn, .button {
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid transparent;
  background-color: #3BB77E;
  cursor: pointer;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  letter-spacing: 0.5px;
}

/* .single-product-thumb-slider-popup {
  height: 80% !important;
  width: 100%;
}

.single-product-nav-slider1 {
  height: 20% !important;
  box-sizing: border-box;
  padding: 10px 0;
} */

#dwCartCount {
  font-size: 12px;
  background-color: #c67605;
  color: #fff;
  padding: 2px 6px;
  vertical-align: top;
  margin-left: -3px;
  position: absolute;
  margin-top: -7px;
}

.dashboard-menu ul li:not(:last-child) {
  margin-bottom: 10px;
}

.dashboard-menu ul li {
  position: relative;
  border-radius: 10px;
  border: 1px solid #ececec;
  border-radius: 10px;
}

.dashboard-menu ul li a.active, .dashboard-menu ul li a:hover {
  color: #fff;
  background-color: #3BB77E;
  border-radius: 10px;
}

.dashboard-menu ul li a {
  font-size: 14px;
  color: #7E7E7E;
  padding: 10px 15px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.hide{
  display: none !important;
}

.product-slider .owl-item{
  margin-right: 10px !important;
}

#register_form .required:after {
  content:" *";
  color: red;
}

/* Chrome, Safari, Edge, Opera */
.pro-qty input::-webkit-outer-spin-button,
.pro-qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.kv-zoom-cache{
  display: none;
}

.checkout-cart-area, .view-order-area{
  padding: 20px;
}

.file-footer-buttons{
  display: none !important;
}



.cart-dropdown-wrap {
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  z-index: 99;
  width: 320px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 10px;
  border: 1px solid #ececec;
}

.header-action-icon-2:hover .cart-dropdown-wrap {
  opacity: 1;
  visibility: visible;
  top: calc(100% + 10px);
}

.cart-dropdown-wrap .shopping-cart-footer .shopping-cart-total {
  margin: 10px 0;
  padding: 10px 0 0;
}

.cart-dropdown-wrap .shopping-cart-footer .shopping-cart-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.cart-dropdown-wrap ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 10px;
  
  border-bottom: 2px solid #f3f3f3;
}

.cart-dropdown-wrap ul li .shopping-cart-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  margin-right: 10px;
}

.cart-dropdown-wrap ul li .shopping-cart-title {
  margin: 6px 0 0;
}

.cart-dropdown-wrap ul li .shopping-cart-title h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 9px;
}

.cart-dropdown-wrap ul li .shopping-cart-title h4.cartItemName {
  color: #3BB77E;
}

.cart-dropdown-wrap .shopping-cart-footer .shopping-cart-total h4 {
  color: #9b9b9b;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.product-thumbs-list{
  width: 100px !important;
  height: 100px !important;
  text-align: center;
  
}

.product-thumbs-list img {
  border:1px solid;
}

.cart-dropdown-wrap .shopping-cart-footer .shopping-cart-total h4 span {
  font-size: 18px;
  float: right;
  color: #3BB77E;
}